<!doctype html>
<html>
  <head>
    <title>Luxury Jewellery Store</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Luxury Jewellery Store</h1>

      <nav>
        <a href="/">Home</a>
        <a href="/cart/">Cart</a>
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>
        <a href="/orders/">My Orders</a>
      </nav>
    </header>

    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
